<div>
  {{#if isAdmin}}
    <h1>Hola {{nombre}}</h1>
    <p>Tu edad es {{edad}}</p>
    <p>Tu correo es {{correo}}</p>
    <p>Tu telefono es {{telefono}}</p>
  {{else}}
    <h1>No tienes cuenta</h1>
  {{/if}}
</div>